* {
    border: solid rgb(135, 73, 73)
}

body {
    background-color: rgb(35, 36, 41);
    font-family: Open Sans;
    color: white;
}

.page-title {
    background-color: #004175;
    font-size: 22px;
    padding: 10px;
    border-bottom-width: 2px;
    border-bottom-color: #89DEEF;
    border-bottom-style: solid;
}

button {
    background-color: rgb(50, 145, 166);
}

.search-results-h3 {
    background-color: pink;
}

#musicContainer {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    justify-content: center;
}

.songDiv {}

.track-name {}

.artist-name {}

.album-title {}

.cover-art {}

#audio-player {}