/* * {
    border: solid rgb(135, 73, 73)
} */

body {
    background-color: #e7ede4;
    font-family: Open Sans;
}


.page-title {
    display: inline-flex;
    background-color: #314537;
    color: #dae5d6;
    font-size: 22px;
    padding: 10px;
    border-bottom-width: 2px;
    border-bottom-color: #64c889;
    border-bottom-style: solid;
    width: 50%;
}

#serach-form {
    display: inline-flex;
}

#search-text {
    width: 30%;
    height: 20px;
    background-color: #e9ebe9;
    color: #314537;
}

button {
    display: inline-flex;
    background-color: #89e9d0;
    width: fit-content;
}

.search-results-h3 {
    background-color: #314537;
    color: #dae5d6;
    border-bottom-width: 2px;
    border-bottom-color: #64c889;
    border-bottom-style: solid;

}

#musicContainer {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    justify-content: center;
    width: fit-content;
}

.songDiv {
    background-color: #dae5d6;
    text-align: center;
}

.cover-art {
    border-radius: 10%;
    border-style: solid;
    border-color: #314537;
}

.track-name:hover {
    background-color: #64c889;
}